# Fichier à placer à la racine du projet
# Permet de configurer le linting PEP8 avec un rapport HTML

# Contenu du fichier .flake8 :
[flake8]
max-line-length = 119
exclude = __pycache__, data/, flake8_report/
format = html
htmldir = flake8_report