# Virtual environment
venv/

# Generated data (CSV + images)
*.csv
images/
data/

# Data archive
data_export.zip

# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Email
*.txt
!requirements.txt 