# Ignorer les environnements virtuels
.venv/
venv/

# Ignorer tous les fichiers CSV générés partout
*.csv

# Ignorer les dossiers d'images générées partout
images/
**/images/

# Fichiers temporaires / caches Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers système
.DS_Store
Thumbs.db